.operate-panel{

  position: relative;
  margin: 20px auto;
  height: 350px;
  width: 500px;
  border:2px #74bcfc;
  border-radius: 10px;
  background: #1b5486;
}

.input-button{
    position: relative;
    margin: 20px 20px;
    height: 100px;
    width: 100px;
    border:0px solid;
    float : left ;
  
  }
  
  .coin-slot{
    position: relative;
    float: right;
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius:999em;
    border:2px #255784 solid ;
    right: -10px;
  
  }
  .back-button{
    cursor: pointer;
    position: relative;
    float: right;
    margin: 20px;
    height: 50px;
    width: 50px;
    border-radius:999em;
    background-color: white  ;
    border:2px white solid ;
   
  }
  
  .back-button:active:nth-child(1) div{
    cursor: pointer;
    background:navy;
    transform: rotate(180deg);
    transition: all 1s ;
    }

  .back-button-start{
    position: relative;
    margin-left:4.5px;
    margin-top:20px;
    height:5px;
    width:40px;
    border:2px black solid ;
    background-color: #102e49;
    border-radius: 3px;
  }
  
  .money-area{
    float:right;
    width: 200px;
  }
  
  
  .back-money-hole{
    position: relative;
    margin: 80px auto;
    height: 30px;
    width: 60px;
    border:2px solid;
    border-radius:9em;
    background-color: black;
  }
  .hole{
    position: relative;
    margin-left:20px;
    margin-top:6px;
    height:35px;
    width:5px;
    border:2px white solid ;
    background: white;
  }

  .number-button{
    cursor: pointer;
    height:25%;
    width:26%;
    margin:1px;
    float:left;
    background:white;
    border:0px;
    box-shadow:-3px -3px 9px rgb(29, 80, 175);
    border-radius: 5px;
  }
  .pickup-area{
    float: left;
    position: absolute;
    margin-left:90px;
    bottom:10px;
    height: 100px;
    width: 350px;
    border-radius: 5px;
    background:black;
  }
  .coin-slot{
    border-radius: 999em;
    background:#102e49;
  }