
.product{
    height:80px;
    width:45px;
    margin:10px;
  
    float:left;
  }
  
  .price{
    position: absolute;
    height:17px;
    width:42px;
    bottom:5px;
    margin-left:1px;
   
    color:white;;
    float:left;
  }