

.operate-panel{

  position: relative;
  margin: 20px auto;
  height: 350px;
  width: 500px;
  border:2px solid

}

.pickup-area{
  float: left;
  position: absolute;
  margin-left:90px;
  bottom:10px;
  height: 100px;
  width: 350px;
  border:2px solid
}

.diplay-input-money{
  float:left;
  position: relative;
  height: 100px;
  width: 120px;
  border:2px solid;
  margin-top:15px;

}


.number-button{
  cursor: pointer;
  height:25%;
  width:25%;
  margin:10;
  border:2px solid;
  float:left;
}

.coin-area{
  margin-top:50px;
  margin-right:200px;
  height:200px;
  width:30%;
  margin:10;
  float:right;

}
.coin{
  cursor: pointer;
  float:left;
  width:20%;
  height: 70%;
  margin:5px;
}
