.buy-button{
    float:right;
    margin-right:0.3px;
    padding:2px;
    cursor: pointer;
    background: #2196f3;
    border-radius:0.1em;
    color:white;
}
.buy-button:hover{
    color:white;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,0 0 80px#2196f3;
    
}
.diplay-input-money{
    float:left;
    position: relative;
    height: 100px;
    width: 120px;
    border:0px;
    margin-top:15px;
    background:white;
    padding: 5px;
    border-radius:5px;
  }

